<div class="container" style="background-image: url(./assets/img/wht.png); background-repeat: repeat;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="about-us-title" style="text-align: center; font-size: 4rem;">About us</h1>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="image-wrapper">
            <img style="max-height: 30rem; width: auto" src="/assets/img/PP shark 2.png" alt="sharky map" />
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="about-us-title font-20-mob" style="font-size: 3rem;">Who We Are</h1>
          <p class="about-us-description font-12-mob">
            Welcome to Poker Pundit, where we're not just dealing cards; we're dealing with a revolution in online
            poker. We're more than just a platform; we're a thriving online community of poker enthusiasts who share a
            common passion for this timeless card game. Whether you're a seasoned pro or just starting your poker
            journey, Poker Pundit is your ultimate destination to connect, learn, share your thoughts and stream/watch
            like never before.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex  mt-5">
      <h1 class="about-us-title font-17-mob" style="font-size: 3rem;">Our Story</h1>
    </div>
    <div class="col-md-12">
      <p class="about-us-description font-12-mob">
        At Poker Pundit, we think of poker as more than just a game – it's a skill. We embarked on a mission to create a unique online space where players could come together, improve their skills, and enjoy the camaraderie that poker naturally fosters.
        <br><br>
        Our journey began with a simple idea: to revolutionize the online poker experience in India. We envisioned a platform that combines the thrill of competition with the warmth of a tight-knit community. Today, we're proud to say that Poker Pundit has become the embodiment of that vision.
        
        <br><br>
        <b> Are you ready to become a part of the Poker Pundit revolution? </b>
      </p>
    </div>
  </div>
</div>