<div class="contaner" style="background-image: url(./assets/img/wht.png); background-repeat: repeat;">
  <!-- <div class="row">
    <div class="col-md-12">
      <input
        class="input-inset"
        type="text"
        placeholder="Ask your query here"
      />
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">

      <p style="font-size: 20px;">
        Welcome to Poker Pundit's FAQs section. Here, we've gathered answers to some of the most common questions you might have about our platform and services. If you don't find the information you need, please feel free to reach out to our customer support team for further assistance.
      </p>
      <div class="accordion" id="accordionExample" style="border: none">

        <h1 class="font-17-mob" style="font-weight: 800; padding: 5rem 0 3rem;">General Questions:</h1>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
            What is Poker Pundit?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              Poker Pundit is an online poker platform that offers a vibrant community of players, a variety of poker games, and resources to enhance your poker skills.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            Is Poker Pundit legal? 
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              Yes, Poker Pundit operates in compliance with applicable laws and regulations. We prioritize fair play and responsible gaming.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
            How do I create an account?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              To create an account, click the "Sign Up" button, fill in the required information, and follow the registration process.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
            Can I play for free at Poker Pundit?
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              Yes, we offer free play options for many of our games. You can practice and improve your skills without risking real money.
            </div>
          </div>
        </div>

        <h1 class="font-17-mob" style="font-weight: 800; padding: 5rem 0 3rem;">Account and Payments:</h1>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
            What is TDS, and how does it work?
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              TDS (Tax Deducted at Source) is a tax on winnings. We deduct TDS as per Indian tax regulations, and you'll receive a TDS certificate for your annual tax return.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
            How will the TDS be calculated?
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              TDS is calculated at a rate of 30% on your net winnings as per government regulations. Refer to our TDS policy for detailed information.
            </div>
          </div>
        </div>

        <h1 class="font-17-mob" style="font-weight: 800; padding: 5rem 0 3rem;">Gaming and Rules:</h1>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseSeven"
            >
            What poker games are available at Poker Pundit?
            </button>
          </h2>
          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              We offer a variety of poker games, including Texas Hold'em, Omaha, and unique variants. Explore our lobby to find your favorite.
            </div>
          </div>
        </div>

        <h1 class="font-17-mob" style="font-weight: 800; padding: 5rem 0 3rem;">Account Management:</h1>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEight"
              aria-expanded="false"
              aria-controls="collapseEight"
            >
            My KYC status is pending/rejected. What should I do now?
            </button>
          </h2>
          <div
            id="collapseEight"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              If your KYC (Know Your Customer) status is pending or rejected, please follow the instructions provided in your account or contact our support team for assistance.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
            Can I have more than one Poker account?
            </button>
          </h2>
          <div
            id="collapseNine"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              No, multiple accounts for the same player are not allowed. Each player should have only one account. Violation of this rule may result in account suspension.
            </div>
          </div>
        </div>

        <h1 class="font-17-mob" style="font-weight: 800; padding: 5rem 0 3rem;">Getting Started with Poker:</h1>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTen"
              aria-expanded="false"
              aria-controls="collapseTen"
            >
            What are the minimum requirements to register with Poker Pundit?
            </button>
          </h2>
          <div
            id="collapseTen"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              To register with Poker Pundit, you must meet our eligibility requirements, including being at least 18 years old.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEleven"
              aria-expanded="false"
              aria-controls="collapseEleven"
            >
            Which is better to play - Poker tournaments or cash games?
            </button>
          </h2>
          <div
            id="collapseEleven"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              The choice between tournaments and cash games depends on your playing style. Tournaments offer a shot at big prizes, while cash games provide more flexibility.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwelve"
              aria-expanded="false"
              aria-controls="collapseTwelve"
            >
            What does rake mean in a casino or online poker?
            </button>
          </h2>
          <div
            id="collapseTwelve"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              Rake is a fee collected by the casino or online poker platform for hosting games. It is a small percentage of each pot and contributes to the platform's revenue.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThirteen"
              aria-expanded="false"
              aria-controls="collapseThirteen"
            >
            Can a player play at more than one table at the same time?
            </button>
          </h2>
          <div
            id="collapseThirteen"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              Yes, players can participate in multiple tables simultaneously, known as multi-tabling, depending on their skills and comfort level.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed faq-title font-17-mob"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFourteen"
              aria-expanded="false"
              aria-controls="collapseFourteen"
            >
            What are the formats of Cash Games in Poker?
            </button>
          </h2>
          <div
            id="collapseFourteen"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body font-12-mob">
              Cash games in Poker come in various formats, including No-Limit, Pot-Limit, and Fixed-Limit. Each format has its own rules and betting structures.
            </div>
          </div>
        </div>


        <p style="font-size: 20px; padding-top: 3rem;">
          We hope these FAQs have addressed your queries. If you need further assistance, don't hesitate to contact us at info@pokerpundit.in.
        </p>
        <p style="font-size: 20px;">
          We're here to ensure your Poker Pundit experience is enjoyable and worry-free.
        </p>
      </div>
    </div>
  </div>
</div>
