<div class="container" style="background-image: url(./assets/img/wht.png); background-repeat: repeat;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="tds-return-title font-20-mob">TDS Return</h1>
    </div>
    <div class="col-md-12">

      <p style="font-size: 20px;" class="font-12-mob">Here are some key points to note regarding TDS (Tax Deducted at Source) calculation on your winnings at Poker Pundit:
      </p>
      <ol class="font-12-mob">
        <li>
          TDS on Net Winnings: Under the new taxation policy, a 30% TDS will be deducted from your net winnings as per government regulations.
        </li>
        <li>
          Rakeback and Payoff: Rakeback (Payoff) will also be subjected to TDS deductions.
        </li>
        <li>
          Bonus Types: Instant Bonuses and Tournament Bonuses credited through any mode are considered separate entities, distinct from investments or winnings. However, all other characteristics of Instant Bonus and Tournament Bonus will remain unchanged.

        </li>
        <li>
          Leaderboard/Contest Winnings: If you receive winnings in Real Money through leaderboards or contests, they are subject to TDS deduction.
        </li>
        <li>
          Withdrawal Process: When you request a withdrawal, we prioritize withdrawing the "Tax-Free (deposits)" amount first. If the "Tax-Free (deposits)" balance isn't sufficient to cover the requested withdrawal, the remaining amount will be deducted from your "Winnings," with applicable TDS deductions.
        </li>
        <li>
          TDS Calculation Basis: Poker Pundit calculates TDS in accordance with Section 194BA of the Income Tax Act. You will receive a TDS certificate from us, which you can use when filing your annual income tax return. We submit TDS to the government on a monthly basis and file a TDS return quarterly. Your PAN (Permanent Account Number) is required to apply for a TDS certificate.
        </li>
        <li>
          Personal Tax Liability: Please be aware that, according to the Indian Income Tax Act, individuals are responsible for paying their own taxes to the government. Poker Pundit is not responsible for fulfilling players' personal tax-related obligations under any circumstances. It is advisable to seek the services of a professional financial accountant to calculate and file income tax returns.
        </li>
      </ol>
    </div>

    <div class="col-md-12" style="padding-top: 2rem;">
      <h2 class="tds-return-sub-title font-17-mob">Frequently Asked Questions:</h2>
    </div>

    <div class="col-md-12">
      <ol class="font-12-mob">
        <li style="margin-bottom: 2rem;">
          How are net winnings calculated? <br>
          Net Winnings are calculated in real-time using the following formula: <br>
          Net Winnings = Total Withdrawals including the current withdrawal during the Financial Year - Total Investment during the Financial Year <br>
          Example: Suppose you deposit ₹5,000 in your wallet in a year to play cash games. Throughout the year, your winnings amount to ₹30,000. When you request a withdrawal, your net winnings will be: <br>
          ₹35,000 - ₹5,000 = ₹30,000
          
        </li>

        <li>
          How can I calculate the applicable TDS before withdrawing my money?
          Enter the amount you wish to withdraw.
          <ul style="list-style-type: disc;">
            <li>
              Click on the "Calculate TDS" button to determine the applicable TDS on that amount.
            </li>
            <li>
              Click on the "Transfer" button. A confirmation message will be displayed.
            </li>
            <li>
              Click "Proceed" to confirm your withdrawal request.              
            </li>
          </ul>
          
          
        </li>
        </ol>



      <h2 class="tds-return-sub-title font-17-mob" style="padding-top: 2rem;">Note:</h2>

      <p style="font-size: 20px;" class="font-12-mob">Fulfilling our legal obligations is a priority at Poker Pundit. To ensure seamless TDS returns, we have partnered with experienced accountants who can assist you if you are not comfortable handling this process independently. They can guide you through the TDS return filing process, ensuring compliance with Indian tax regulations. Remember, your PAN (Permanent Account Number) is essential for TDS certificate application, so keep it handy.</p>

        <p style="font-size: 20px; padding-top: 2rem;" class="font-12-mob">
          For any further inquiries or assistance regarding TDS and taxation, please don't hesitate to reach out to our customer support team at info@pokerpundit.in. 
          <br> <br>
          We're here to ensure a seamless gaming and tax experience for our players.

        </p>
    </div>
  </div>
</div>
