<div class="container" style="background-image: url(./assets/img/wht.png); background-repeat: repeat;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="terms-and-conditions-title font-20-mob">Terms and Conditions</h1>
    </div>
    <div class="col-md-12">
      <p style="font-size: 20px;" class="font-12-mob">
        Welcome to Poker Pundit! These Terms and Conditions govern your use of our online poker platform and related
        services. Please read these Terms carefully before using Poker Pundit. By accessing or using our platform, you
        agree to abide by these Terms.</p>
        <br><br>
      <ol class="font-17-mob">
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b> Account Registration:</b>
          <ol class="font-12-mob">
            <li>
              To use our services, you must create an account. You agree to provide accurate and up-to-date information
              during the registration process and to keep your account information current.
            </li>
            <li>
              You are responsible for maintaining the confidentiality of your account credentials and for all activities
              that occur under your account. Notify us immediately of any unauthorized use or security breach. </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b> Eligibility</b>
          <ol class="font-12-mob">
            <li>
              You must be at least 18 years old to use Poker Pundit. Accessing our platform as a minor is strictly
              prohibited.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b> User Conduct</b>
          <ol class="font-12-mob">
            <li>
              You agree to use our services in compliance with applicable laws and regulations.
            </li>
            <li>
              You must not engage in any activities that are harmful, illegal, or violate the rights of others while
              using Poker Pundit.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b>Deposits and Withdrawals</b>
          <ol class="font-12-mob">
            <li>
              Deposits and withdrawals are subject to our payment processing procedures, including verification checks.
              We reserve the right to refuse or limit transactions at our discretion.
            </li>
            <li>
              Withdrawals may be subject to fees and taxes as per our TDS policy (refer to our TDS policy for details).
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b> Responsible Gaming</b>
          <ol class="font-12-mob">
            <li>
              We encourage responsible gaming. If you believe you have a gambling problem, please seek help. We provide
              tools for setting deposit limits and self-exclusion.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b> Intellectual Property</b>
          <ol class="font-12-mob">
            <li>
              All content on Poker Pundit, including logos, graphics, and software, is our property or used with
              permission. You may not use, modify, or distribute our content without our consent.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b>Termination</b>
          <ol class="font-12-mob">
            <li>
              We reserve the right to terminate or suspend your account for violations of these Terms or for any other
              reason at our discretion.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b>Disclaimers and Limitations of Liability</b>
          <ol class="font-12-mob">
            <li>
              We provide Poker Pundit on an "as-is" and "as available" basis, without warranties of any kind.
            </li>
            <li>
              We are not liable for any damages or losses resulting from your use of our platform, including but not
              limited to lost profits, data loss, or any other financial or personal losses.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b>Privacy</b>
          <ol class="font-12-mob">
            <li>
              Your use of Poker Pundit is also governed by our Privacy Policy. By using our services, you consent to the
              collection and use of your data as outlined in our Privacy Policy.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b>Changes to Terms</b>
          <ol class="font-12-mob">
            <li>
              We may update these Terms periodically. You will be notified of any substantial changes via email or
              prominent notices on our platform.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b> Governing Law</b>
          <ol class="font-12-mob">
            <li>
              These Terms are governed by the laws of [Jurisdiction] without regard to its conflict of law principles.
            </li>
          </ol>
        </li>
        <li style="padding-top: 2rem; padding-bottom: 2rem;">
          <b>Contact Us</b>
          <ol class="font-12-mob">
            <li>
              For questions, concerns, or inquiries related to these Terms, please contact us at info@pokerpundit.in.
            </li>
          </ol>
        </li>
        <br><br>

      </ol>
      <p style="font-size: 20px;" class="font-12-mob">
        Thank you for choosing Poker Pundit. These Terms and Conditions are designed to create a fair and enjoyable
        experience for all users of our platform. We appreciate your cooperation in adhering to these guidelines.
      </p>
    </div>
  </div>
</div>