<div class="container" style="min-width: 100%">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <span
            routerLink="/home/website"
            class="d-flex align-items-center"
            style="gap: 2rem; cursor: pointer"
          >
            <svg
              width="12"
              height="30"
              viewBox="0 0 24 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23.1686 58.8142C23.7229 58.0237 24 57.0877 24 56.0063C24 54.927 23.7229 53.9921 23.1686 53.2016L6.92841 30.0395L23.224 6.79842C23.7413 6.06061 24 5.13834 24 4.03162C24 2.9249 23.7229 1.97628 23.1686 1.18577C22.6143 0.395257 21.9581 0 21.1998 0C20.443 0 19.7875 0.395257 19.2333 1.18577L0.609699 27.8261C0.387991 28.1423 0.230577 28.4848 0.137461 28.8538C0.0458202 29.2227 0 29.6179 0 30.0395C0 30.4611 0.0458202 30.8564 0.137461 31.2253C0.230577 31.5942 0.387991 31.9368 0.609699 32.253L19.2887 58.8933C19.806 59.6311 20.443 60 21.1998 60C21.9581 60 22.6143 59.6047 23.1686 58.8142Z"
                fill="#6A3791"
              />
            </svg>
            <span style="font-size: 2.5rem; font-weight: 500"
              >All Websites</span
            >
          </span>
        </div>

        <div class="col-md-12 col-sm-12 mt-5 padding-0px">
          <img
            src="{{websiteObj.images[1]}}"
            alt="artical-img"
            style="max-width: 100%; max-height: 100%; object-fit: cover; width: 100%;"
          />
        </div>

        <div class="col-md-12 border-md-right mt-5">
          <div class="row">
            <div class="col-md-12">
              
              <h1 style="font-weight: 700; font-size: 3.5rem" class="mb-5">
                {{websiteObj.heading}}
              </h1>
                <div class="image-container" [innerHtml]=websiteObj.timeForReadingMinutes style="font-size: 18px !important; width: 100%;"></div>
              <a href="{{websiteObj.links[1]}}" target="_blank"> <button class="mt-5">Join Game</button> </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
