<div class="container">
    <div style="text-align: center;">
        <p class="order-text">
            Your order has been received
        </p>
        <img src="./assets/img/check.png" style="width: 120px;" alt="">
        <p class="thank-text" >
            Thank you for your purchase!
        </p>

        <p class="small-text">
            Your order ID is: 12345667800
        </p>

        <p class="small-text">
            You will receive an order confirmation email with details of your order.
        </p>

        <button class="btn-proceed" routerLink="/home/shop">Proceed to Website</button>
    </div>
</div>