.newsLetter-form-error {
  margin: 1rem;
  font-size: 1.2rem;
  color: #00ecec;
}

.hero-footer {
  width: 75%;
  margin: 5em auto;
}

.footer-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.home-footer h1 {
  font-size: 3.6rem;
  font-weight: 800;
}

.footer-input {
  width: 70%;
}

.input-style {
  background: black;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  width: 100%;
  color: white;
  border: none;
  border-radius: 2.5rem;
}

.footer-submit-button {
  width: 100%;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background: #6a3791;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}

.footer-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}
.footer-address {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}

.footer-link:hover {
  color: #00ecec; /* Change the color to whatever you want on hover */
}

.marquee-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  transform: translate3d(0%, 0, 0);
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.footer-follow-us {
  padding: 2em 0em;
  width: 35%;
}

.marquee-wrapper:hover .marquee {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .marquee-2 {
    display: none;
  }
  .input-error-div {
    flex-direction: column;
  }

  .footer-follow-us {
    width: 100%;
  }

  .input-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media (max-width: 992px) and (min-width: 300px) {
  .footer-title {
    font-size: 2rem;
    font-weight: 600;
  }

  .hero-footer {
    width: 90%;
    margin: 5em auto;
  }

  .follow-up{
    text-align: center;
  }
}