.websites-hero {
  overflow: hidden;
  color: white;
}

.box {
  margin-top: 0.5rem;
  background-color: #242424;
  min-height: 45rem;
  font-size: 2rem;
  border-radius: 3.5rem;
  padding: 4rem;
  text-align: center;
}
.title-border-bottom {
  border-bottom: 0.5px solid gray;
  padding: 1em 0em;
}

.page-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background: #6a3791;
  border: none;
  cursor: pointer;
  border-radius: 2.5rem;

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}
.website-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;

  border: 1px solid #6a3791;
  cursor: pointer;
  border-radius: 2.5rem;

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .card-btn {
    gap: 2rem;
  }
  .page-button {
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 300;
  }
  .website-button {
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
}



.padding-title{
  padding: 4rem 0rem 0.1rem 0;
}

.padding-discription{
  padding: 0.1rem 0rem 4rem 0;
  height: 9rem;
}

.img-div{
  height: 140px;
}

@media (max-width: 992px) and (min-width: 300px) {
  .padding-title{
    padding: 2rem 0rem;
    height: 8rem;
  }
  
  .padding-discription{
    padding: 1rem 0rem;
    height: 9rem;

    & p {
      font-size: 1.3rem !important;
    }
  }

  .img-div{
    height: 50px;
  }

  .box {
    margin-top: 0.5rem;
    background-color: #242424;
    min-height: 35rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
  }

  .website-button {
    padding: 1rem 1rem;
    font-weight: 700;
  }

  .page-button {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }

  .padding-0px{
    padding: 0.5rem !important;
  }
}