<div class="container" style="background-image: url(./assets/img/wht.png); background-repeat: repeat;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="privacy-policy-title font-17-mob">Privacy Policy</h1>
    </div>
    <div class="col-md-12">
      <p style="font-size: 20px;" class="font-12-mob">
        At Poker Pundit, we prioritize your privacy and are committed to safeguarding your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect your data when you interact with our platform. By using Poker Pundit, you consent to the practices described herein.
      </p>
      <br>

      <ol class="font-12-mob">
        <li style="margin-bottom: 1rem; margin-top: 1rem;">
          <b> Information We Collect:</b>
          <ol style="list-style-type: disc;" class="font-12-mob">
            <li>
              Personal Information: When you create an account, we collect your name, email address, contact details, date of birth, and other necessary information for account setup.
            </li>
            <li>
              Financial Data: To process transactions and withdrawals, we collect payment information, including credit card details, bank account numbers, and other financial data.
            </li>
            <li>
              Gaming Data: We collect data related to your gameplay, including game history, stakes, and winnings.
            </li>
            <li>
              Communication Data: Your interactions with our customer support, as well as any feedback, inquiries, or requests you submit, may be stored.
            </li>
            <li>
              Technical Information: We may collect information about your device, browser, IP address, and browsing behavior on our platform.
            </li>
          </ol>
        </li>
        <li>
          <b> How We Use Your Information:</b>
          <ol style="list-style-type: disc;" class="font-12-mob">
            <li>
              Account Management: We use your personal data for account creation, authentication, and management.
            </li>
            <li>
              Transactions: Your financial data is used to process payments, withdrawals, and to maintain transaction records.
            </li>
            <li>
              Gameplay: We utilize gaming data to ensure fair play, track winnings, and provide a seamless gaming experience.
            </li>
            <li>
              Communication: Your contact details may be used to send important updates, promotional materials, and respond to your inquiries.
            </li>
            <li>
              Analytics: We analyze user behavior to improve our platform, services, and user experience.
            </li>
          </ol>
        </li>
        <li>
          <b> Disclosure of Your Information: </b>
          <ol style="list-style-type: disc;" class="font-12-mob">
            <li>
              Service Providers: We may share your data with trusted service providers who assist in delivering our services, such as payment processors and technical support.
            </li>
            <li>
              Legal Compliance: We may disclose information to comply with legal obligations, protect our rights, or investigate fraudulent activities.
            </li>
            <li>
              Consent: We may share your information with your consent or as otherwise required by law.
            </li>
          </ol>
        </li>
        <li>
          <b> Data Security:</b>
          <p style="font-size: 20px;" class="font-12-mob">We employ industry-standard security measures to protect your data from unauthorized access, disclosure, or alteration. However, no online transmission or storage is entirely secure; while we do our best to protect your data, we cannot guarantee absolute security.</p>
        </li>
        <li>
          <b> Your Privacy Choices: </b>
          <ol style="list-style-type: disc;" class="font-12-mob">
            <li>
              Account Settings: You can review and update your account information and privacy preferences through your account settings.
            </li>
            <li>
              Opting Out: You may choose to opt out of receiving promotional materials by following the instructions in our communications or by contacting us directly.
            </li>
            <li>
              Data Access: You have the right to access, rectify, or erase your personal data. To do so, please contact us at info@pokerpundit.in.
            </li>
          </ol>
        </li>
        <li>
          <b> Children's Privacy: </b>
          <p style="font-size: 20px;" class="font-12-mob">
            Poker Pundit is intended for individuals over 18 years of age. We do not knowingly collect data from individuals under 18. If you believe a minor has provided us with their information, please contact us immediately.
          </p>
        </li>
        <li>
          <b> Changes to Privacy Policy: </b>
          <p style="font-size: 20px;" class="font-12-mob">
            We may update our Privacy Policy periodically to reflect changes in our practices or legal requirements. We will notify you of any substantial changes via email or prominent notices on our platform.
          </p>

        </li>
        <li>
          <b> Contact Us: </b>
          <p style="font-size: 20px;" class="font-12-mob">
            If you have any questions, concerns, or requests regarding our Privacy Policy or how we handle your data, please contact us at info@pokerpundit.in. We are committed to addressing your privacy concerns promptly and professionally.
            <br><br>
            Thank you for entrusting Poker Pundit with your gaming experience. Your privacy is important to us, and we are dedicated to maintaining your trust and confidence.

          </p>
        </li>
      </ol>
    </div>
  </div>
</div>
