<div class="container">
  <div class="row">
    <div class="row">
      <span
        routerLink="/home/live"
        class="d-flex align-items-center"
        style="gap: 2rem; cursor: pointer"
      >
        <svg
          width="12"
          height="30"
          viewBox="0 0 24 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.1686 58.8142C23.7229 58.0237 24 57.0877 24 56.0063C24 54.927 23.7229 53.9921 23.1686 53.2016L6.92841 30.0395L23.224 6.79842C23.7413 6.06061 24 5.13834 24 4.03162C24 2.9249 23.7229 1.97628 23.1686 1.18577C22.6143 0.395257 21.9581 0 21.1998 0C20.443 0 19.7875 0.395257 19.2333 1.18577L0.609699 27.8261C0.387991 28.1423 0.230577 28.4848 0.137461 28.8538C0.0458202 29.2227 0 29.6179 0 30.0395C0 30.4611 0.0458202 30.8564 0.137461 31.2253C0.230577 31.5942 0.387991 31.9368 0.609699 32.253L19.2887 58.8933C19.806 59.6311 20.443 60 21.1998 60C21.9581 60 22.6143 59.6047 23.1686 58.8142Z"
            fill="#6A3791"
          />
        </svg>
        <span style="font-size: 2.5rem; font-weight: 500">All Livestreams</span>
      </span>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-5">
        <img
          src="assets/img/single_website.png"
          alt="artical-img"
          style="max-width: 100%; max-height: 100%; object-fit: cover"
        />
      </div>
    </div>
    <div class="row mt-5">
      <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked />
        <input class="radio" id="two" name="group" type="radio" />
        <input class="radio" id="three" name="group" type="radio" />
        <input class="radio" id="four" name="group" type="radio" />

        <!-- <div class="tabs d-flex flex-wrap justify-content-between">
          <label class="tab" id="one-tab" for="one">Details</label>
          <label class="tab" id="two-tab" for="two">Entries</label>
          <label class="tab" id="three-tab" for="three">Prizes</label>
          <label class="tab" id="four-tab" for="four">Tables</label>
        </div> -->

        <div class="tabs d-flex flex-wrap justify-content-between">
          <label class="tab" id="one-tab" for="one">Details</label>
          <label class="tab" id="two-tab" for="two">Entries</label>
          <label class="tab" id="three-tab" for="three">Prizes</label>
          <label class="tab" id="four-tab" for="four">Tables</label>
        </div>

        <div class="panels">
          <div class="panel mt-5" id="one-panel">
            <div class="row g-5">
              <div class="col-md-9">
                <h1 style="font-size: 3rem; font-weight: 700">
                  Top 5 Developments of 2022: Online Poker’s Meteoric Surge
                  Plateaus After Two Years, Foreshadowing Steady Growth Ahead
                  Top 5 Developments of 2022: Online Poker’s Meteoric Surge
                  Plateaus After Two Years, Foreshadowing Steady Growth Ahead
                </h1>
                <i style="font-size: 1.5rem; margin-top: 2rem"
                  >PokerPundit | 3 hours ago</i
                >
              </div>
              <div
                class="col-md-3 p-3"
                style="background: #242424; border-radius: 3rem"
              >
                <div class="d-flex align-items-center justify-content-center">
                  <span
                    style="font-size: 4rem; font-weight: 700; color: #6a3791"
                    >00</span
                  ><span style="font-size: 3rem; margin-left: 2rem">Hours</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <span
                    style="font-size: 4rem; font-weight: 700; color: #00ecec"
                    >46</span
                  ><span style="font-size: 3rem; margin-left: 2rem">Hours</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <span
                    style="font-size: 4rem; font-weight: 700; color: #00ecec"
                    >52</span
                  ><span style="font-size: 3rem; margin-left: 2rem">Hours</span>
                </div>
              </div>
            </div>

            <div class="row g-5 mt-1">
              <div class="col-md-9">
                <div
                  class="box d-flex align-items-center justify-content-around flex-row"
                >
                  <div
                    class="d-flex align-items-center justify-content-center flex-wrap"
                  >
                    <span style="font-size: 4rem; font-weight: 700">165</span
                    ><span
                      style="
                        font-size: 3rem;
                        font-weight: 200;
                        margin-left: 2rem;
                      "
                      >Buy-in</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center flex-wrap"
                  >
                    <span style="font-size: 4rem; font-weight: 700">8.25K</span
                    ><span
                      style="
                        font-size: 3rem;
                        font-weight: 200;
                        margin-left: 2rem;
                      "
                      >Prize</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center flex-wrap"
                  >
                    <span style="font-size: 4rem; font-weight: 700">33</span
                    ><span
                      style="
                        font-size: 3rem;
                        font-weight: 200;
                        margin-left: 2rem;
                      "
                      >Players</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div
                  style="
                    background: #6a3791;
                    padding: 2rem;
                    border-radius: 3rem;
                    cursor: pointer;
                  "
                  class="d-flex align-items-center justify-content-center"
                >
                  <span style="font-size: 4rem; font-weight: 700"
                    >Buy Chips</span
                  >
                </div>
              </div>
            </div>

            <div class="row mt-5" style="font-size: 2rem; font-weight: 300">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                id mi fermentum, congue velit at, varius dui. Vivamus finibus,
                lorem et hendrerit elementum, augue lectus elementum dolor, et
                euismod odio dui ac purus. Cras vulputate dapibus enim eu
                posuere. Ut condimentum, lectus a hendrerit viverra, risus nisi
                sodales dui, eget suscipit justo libero sit amet massa. Cras vel
                tempus sem. Vestibulum dictum eros ac volutpat blandit. In
                lacinia lacus eget sapien dictum, et blandit enim hendrerit.
                Quisque ut sollicitudin nisi, nec facilisis sapien. Aliquam erat
                volutpat.
              </p>
              <p>
                Nam quis dolor diam. Suspendisse euismod pellentesque dolor, sed
                scelerisque velit bibendum in. Nunc metus nisi, porttitor sed
                blandit quis, ultricies sit amet sapien. Curabitur sem nibh,
                laoreet eget auctor vitae, finibus vulputate justo. Ut ut ex
                blandit, pulvinar quam semper, tempor sem. Maecenas mollis
                tellus lacus, sit amet luctus nibh tempus aliquam. Vestibulum
                sed tortor tristique, fermentum ipsum non, iaculis est. Nulla
                facilisi. Donec sit amet enim non ex consectetur lobortis. In et
                tempus sapien. Proin rutrum sed mi nec tempor. Fusce quis felis
                cursus, venenatis nisl non, vehicula diam. Suspendisse dictum
                ullamcorper quam, eget mollis lacus maximus varius. In id metus
                sed lectus ultrices vulputate.
              </p>
              <p>Aenean semper vel sapien a gravida.</p>
            </div>
            <div class="row mt-5">
              <div style="background-color: #242424; padding: 10em"></div>
            </div>
          </div>
          <div class="panel" id="two-panel">
            <div class="row">
              <h1 style="font-weight: 700; font-size: 3rem" class="mb-5 mt-5">
                Participants
              </h1>
            </div>
            <div class="row">
              <div
                class="col-md-2 col-sm-4 mt-5"
                *ngFor="let participant of participants"
                style="max-width: 100%; max-height: 100%"
              >
                <div
                  class="d-flex align-items-center justify-content-center flex-column"
                >
                  <img
                    src="assets/img/{{ participant.profile_img }}"
                    alt="{{ participant.profile_img }}"
                    style="
                      max-width: 70%;
                      max-height: 70%;
                      object-fit: cover;
                      border-radius: 50%;
                    "
                  />
                  <p
                    style="
                      font-size: medium;
                      text-align: center;
                      display: flex;
                      flex-wrap: wrap;
                    "
                  >
                    {{ participant.name }}
                  </p>
                  <div
                    class="d-flex align-items-center justify-content-around w-50"
                  >
                    <svg
                      width="19"
                      height="19"
                      viewBox="0 0 19 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9.5 19C4.25315 19 0 14.7469 0 9.5C0 4.25315 4.25315 0 9.5 0C14.7469 0 19 4.25315 19 9.5C19 14.7469 14.7469 19 9.5 19ZM9.5 5.46915L5.46915 9.5L9.5 13.5308L13.5308 9.5L9.5 5.46915Z"
                        fill="#00ECEC"
                      />
                    </svg>
                    <span style="font-size: 2rem">{{
                      participant.entries
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-3 mt-5">
                <div
                  style="
                    background: #6a3791;
                    padding: 1.5rem;
                    border-radius: 3rem;
                    cursor: pointer;
                  "
                  class="d-flex align-items-center justify-content-center"
                >
                  <span style="font-size: 4rem; font-weight: 700"
                    >Buy Chips</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><div class="entries-card"></div></div>
              <div class="col-md-6"><div class="entries-card"></div></div>
              <div class="col-md-6"><div class="entries-card"></div></div>
            </div>
          </div>
          <div class="panel" id="three-panel">
            <div class="row g-5 mt-1">
              <div class="col-md-9">
                <div
                  class="box d-flex align-items-center justify-content-around flex-row"
                >
                  <div
                    class="d-flex align-items-center justify-content-center flex-wrap"
                  >
                    <span style="font-size: 4rem; font-weight: 700">8.25K </span
                    ><span
                      style="
                        font-size: 3rem;
                        font-weight: 200;
                        margin-left: 2rem;
                      "
                    >
                      Prize Pool</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center flex-wrap"
                  >
                    <span style="font-size: 4rem; font-weight: 700">5</span
                    ><span
                      style="
                        font-size: 3rem;
                        font-weight: 200;
                        margin-left: 2rem;
                      "
                      >Paid Places</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div
                  style="
                    background: #6a3791;
                    padding: 2rem;
                    border-radius: 3rem;
                    cursor: pointer;
                  "
                  class="d-flex align-items-center justify-content-center"
                >
                  <span style="font-size: 4rem; font-weight: 600"
                    >Buy Chips</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="table-responsive d-flex justify-content-center table-card"
              >
                <table
                  class="table table-borderless table-lg"
                  style="color: white"
                >
                  <thead class="mb-5">
                    <tr>
                      <th>Rank</th>
                      <th>Prize</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.-</td>
                      <td>Ticket</td>
                    </tr>
                    <tr>
                      <td>2.-</td>
                      <td>Ticket</td>
                    </tr>
                    <tr>
                      <td>3.-</td>
                      <td>Ticket</td>
                    </tr>
                    <tr>
                      <td>4.-</td>
                      <td>Ticket</td>
                    </tr>
                    <tr>
                      <td>5.-</td>
                      <td>Ticket</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><div class="entries-card"></div></div>
              <div class="col-md-6"><div class="entries-card"></div></div>
              <div class="col-md-6"><div class="entries-card"></div></div>
            </div>
          </div>
          <div class="panel" id="four-panel">
            <div class="row mt-5">
              <table
                class="table table-borderless player-table"
                style="color: white; border-spacing: 50"
              >
                <thead>
                  <tr>
                    <th scope="col">Table</th>
                    <th scope="col">Players</th>
                    <th scope="col">Min/Max</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">#1</th>
                    <td>15</td>
                    <td>2K/18K</td>
                  </tr>
                  <tr>
                    <th scope="row">#2</th>
                    <td>15</td>
                    <td>2K/18K</td>
                  </tr>
                  <tr>
                    <th scope="row">#3</th>
                    <td>15</td>
                    <td>2K/18K</td>
                  </tr>
                  <tr>
                    <th scope="row">#4</th>
                    <td>15</td>
                    <td>2K/18K</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-3 mt-5">
                <div
                  style="
                    background: #6a3791;
                    padding: 1.5rem;
                    border-radius: 3rem;
                    cursor: pointer;
                  "
                  class="d-flex align-items-center justify-content-center"
                >
                  <span style="font-size: 4rem; font-weight: 700"
                    >Buy Chips</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><div class="entries-card"></div></div>
              <div class="col-md-6"><div class="entries-card"></div></div>
              <div class="col-md-6"><div class="entries-card"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
